<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @referral.user_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @referral.code %>
</p>

<p>
  <strong>Signups:</strong>
  <%= @referral.signups %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
